@import url("https://fonts.googleapis.com/css?family=Lato");
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url("skeleton.css");

html {
  width: 100%;
  height: 100%;
  
}

body {
  width: 100%;
  height: 100%;
  background: url("blur2.jpg") no-repeat center center fixed;
  background-size: cover;
}

#menu
{
  background-color: #33C3F0;
    border: none;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    cursor: pointer;
}
#menu:hover
{
  background-color: #10a7d5;
}


/* Check box */
input[type=checkbox] {
  transform: scale(1.5);
}




/* Slider */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #ffffff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #10a7d5;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #10a7d5;
  cursor: pointer;
}